.container {
   display: grid;
   //grid-template-rows: 100vh;
   grid-template-columns: [side-bar] 9.6rem [full-start] minmax(1rem, auto) [col-start] repeat(2, [inner-col-start] minmax(min-content, 49vw) [inner-col-end]) [col-end] minmax(1rem, auto)  [full-end];
 
  @media screen and (max-width: $big-mid) {
     grid-template-columns: [side-bar] 9.6rem [full-start] minmax(1rem, auto) [col-start] repeat(2, [inner-col-start] minmax(min-content, 60vw) [inner-col-end]) [col-end] minmax(1rem, auto)  [full-end];
  }
  @media screen and (min-width: $large) {
     grid-template-columns: [side-bar] 9.6rem [full-start] minmax(1rem, auto) [col-start] repeat(2, [inner-col-start] minmax(min-content, 35vw) [inner-col-end]) [col-end] minmax(1rem, auto)  [full-end];
  }
  @media screen and (max-width: $small-mid) {
   grid-template-columns: [side-bar] 9.6rem [full-start] minmax(1rem, auto) [col-start] repeat(2, [inner-col-start] minmax(min-content, 60vw) [inner-col-end]) [col-end] minmax(1rem, auto)  [full-end];
  }
  @media screen and (max-height: 1000px) {
   grid-template-rows:  100rem;
  }
}