$white: #ffffff;
$black: #333333;
$purple: #6C62AE;
$dark-purple: #6258A4;
$selected-purple:#584E9A;
$cement-grey: #E4E4E4;
$grey: #787676;
$red: #eb5757;
$input-border: #E4E9F2;
$yellow: #D4B106;
$pink: #E661A1;
$pink-default: #D44A8D;
$purple: #6366AB;
$pink-background: #FDF4F8;
$green: #389e0d;
$green-background:#F6FFED;
$yellow-background: #FEFFE6;
$yellow: #F7A400;
$border-color: #ECECF8;
$grey-background: #f3f6f9;
$holder-background: #262d31;
$dark-black: #000000;
$thin-font: 200;
$worker-font-color: #0D1C36;
$blue: #383DD3;
$profile-font-color: #7C7FB6;
$deep-blue:  #0A0D4D;
$background-blue: #F0F0FA;
$font-color: #6366AB;
$white-grey: #F9F9FB;
$bind-grey: #C4C4C4;
$font-colour: #b1b3b5;
$border-grey:  #E9E9F7;
$holder-font-colour: #b3b6b8;
$holder-small-font-colour: #989a9d;
$text-font-family: Source Sans Pro;
$dark-scroll: #394045;
$text-font-colour: #6b7c93;
$small-font: 1.1rem;
$small: 530px;
$small-mid : 650px;
$small-height: 415px;
$big-mid : 1200px;
$medium: 850px;
$large: 1900px;
$large-small: 1800px;
$lower-bgcolor: #fafafa;
$upper-bgcolor: #ffff;
$base-font: "DM Sans", sans-serif;
$second-font: "DM Sans", sans-serif;