$white: #ffffff;
$black: #333333;
$purple: #6c62ae;
$dark-purple: #6258a4;
$selected-purple: #584e9a;
$purple-start: #4b4082;
$purple-end: #352a70;
$second-purple-start: #50468e;
$second-purple-end: #3a307c;
$tooltip-purple: #3A307C;
$cement-grey: #666666;;
$grey: #787676;
$red: #eb5757;
$input-border: #e4e9f2;
$yellow: #d4b106;
$pink: #e661a1;
$pink-default: #d44a8d;
$pink-background: #fdf4f8;
$green: #389e0d;
$green-background: #f6ffed;
$yellow-background: #feffe6;
$yellow: #f7a400;
$border-color: #ececf8;
$grey-background: #f3f6f9;
$holder-background: #262d31;
$dark-black: #000000;
$thin-font: 200;
$worker-font-color: #0d1c36;
$blue: #383dd3;
$profile-font-color: #7c7fb6;
$deep-blue: #0a0d4d;
$background-blue: #f0f0fa;
$font-color: #6366ab;
$white-grey: #f9f9fb;
$bind-grey: #c4c4c4;
$font-colour: #b1b3b5;
$border-grey: #e9e9f7;
$holder-font-colour: #b3b6b8;
$holder-small-font-colour: #989a9d;
$text-font-family: Source Sans Pro;
$dark-scroll: #394045;
$text-font-colour: #6b7c93;
$small-font: 1.1rem;
$small: 480px;
$small-mid: 650px;
$small-height: 415px;
$big-mid: 1200px;
$medium: 850px;
$large: 1900px;
$large-small: 1400px;

$lower-bgcolor: #fafafa;
$upper-bgcolor: #ffff;
$base-font: 'DM Sans', sans-serif;
$second-font: 'DM Sans', sans-serif;
